body {
	
	background-repeat: no-repeat;
    background-attachment: fixed;
	background-position:center;
	background-size: cover;
	font: 400 15px/1.8 Lato, sans-serif;
    color: #777;
	
}

ul{
	list-style-type:none;
	/* border-top: 2px solid #333; */
	/* border-bottom: 2px solid #333; */
}


li{
	padding-top:.5em;
	padding-bottom: .5em;
}

.s {
    margin-top:20px;
    margin-right:26%;
    color:white;
    padding:20px;
    background: #cdb19845;
    width:650px;
    float: right;
    display:inline-block;
	margin-bottom: 100px;
}

h3{
	font-size:20px;
}

#m {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #c2a99438;
    margin-top: 0%;
}

.nav {
    float: left;

}

.nav a, .dropbtn {
    display: block;
    color: white;
    text-align: center;
    padding: 6px 16px;
    text-decoration: none;
}

.nav a:hover, .dropdown:hover .dropbtn { 
    background-color: #9b8a7d;
}
li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #000000;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #a69385}

.dropdown:hover .dropdown-content {
    display: block;
}

#ait{
	width:90px;
	height:50px;
}

#gifs {
    margin-left: 33%;
    padding: 0;
    margin-top: -26px;
	height:150px;
}


.foot{
 position: fixed;
   left: 0;
   bottom: 0.2%;
   width: 100%;
   height:30px;
   background-color: #333;
   color: white;
   text-align: center;
   padding-top:1px;
   float:top;
}

p {
font-family: Arial, Helvetica, sans-serif;
    margin-top: 0;
    font-size: small;
}

footer p {
    margin-top: -7px;
   
}

video {  
margin: 0;
    margin-left: 2%;
    margin-top: 2%;
    padding: 0;
    border: 1px solid #ffe4c473;
	float: right;
    margin-right: 2%;
}
	
#award{
	
	height: 70px;
    margin: 0;
    float: left;
    width: 130px;
    margin: 0; 
    padding: 0;
    margin-left: -2.5%}
	
#oo{
	margin-top: 11%;
    height: 50%;
    width: 130px;
margin-left: -19%}

.foot2{
 position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   height:100px;
   background-color: #222222;
   color: white;
   text-align: center;
   padding-top:1px;
   float:top;
   
}
.fo {
	text-align:left;
	text-indent:90px;
}
.foo {
	border-radius:50%;
	height:30px;
	width:30px;	
}

h3 {
	font-family: 'Cinzel Decorative';
	font-size: 22px;
}


h2 {
	font-family: 'Cinzel Decorative';
	font-size: small;
}

#st {
  display: inline-block;
  border-radius: 4px;
  background-color:  #01BFEF;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: small;
  padding: 10px;
  width: 250px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  margin-left:60px;
}

#sl {
  display: inline-block;
  border-radius: 4px;
  background-color:#EA3B6F;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: small;
  padding: 10px;
  width: 250px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  margin-left:19px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

#st span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  left: -20px;
  transition: 0.5s;
}

#sl span:after {
  content: '\00ab';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

#sl:hover span {
  padding-right: 25px;
}

#st:hover span {
  padding-left: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.container {
      padding: 80px 120px;
  }
  
.carousel-inner img {
  -webkit-filter: grayscale(70%);
  filter: grayscale(70%); 
  width: 100%;
  margin: auto;
}

.carousel-caption h3 {
  color: #fff !important;
}
@media (max-width: 600px) {
.carousel-caption {
  display: none; 
}
}  
textarea {
resize: none;
}

}  
.form-control {
border-radius: 0;
}



/* 
#insta{
  list-style:none  
}
#insta li{
  float:right;
  width:200px;
  height:200px;
  margin:10px
}
#insta li img{
  max-width:100%;
  max-height:100%;
} */