body {
	font: "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", sans-serif;
	
	}


ul{
	list-style-type:none;
	/* border-top: 2px solid #333; */
	/* border-bottom: 2px solid #333; */
}

label{
	display:block;
	width:10em;
	float:left;
	vertical-align:bottom;
	font-style:bold;
}

li{
	padding-top:.5em;
	padding-bottom: .5em;
}

.containers li {
	display: inline-block;
}

input.text{
	padding:.5em;
	border:1px solid #BBB;
	border-radius:4px;
	box-shadow: 0px 0px 3px #ccc, 0 10px 20px #eee inset;
	padding-right:3em;
	transition: padding-right 1s;
}

input:focus{
	padding-right:5em;
}

input[type="submit"]{
	padding:.5em;
	border:1px solid #BBB;
	border-radius:4px;
	width:8em;
	background:darkorange;
	color:white;
	font-weight:bold;
}


input[type="reset"]{
	padding:.5em;
	border:1px solid #BBB;
	border-radius:4px;
	width:8em;
	background:darkorange;
	color:white;
	font-weight:bold;
}

#pay{
	padding:.5em;
	border:1px solid #BBB;
	border-radius:4px;
	width:8em;
	background:darkorange;
	color:white;
	font-weight:bold;
}

span{
	font-size:90%;
	color:#AAA;
}

input:valid:required{
	box-shadow: 0 0 5px green;
	border-color: green;
}

input:focus:invalid:required{
	box-shadow: 0 0 5px red;
	border-color:red;
}


.containers {
    margin-top:5px;
	margin-left:30%;
    color:grey;
    padding:20px;
    border:2px solid black;
	width:500px;
	float:center;
	
}
.containers p{
display: inline-block;
}
.containers h2{
    border-bottom: 1px solid;
}


#m {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
    margin-top: 0%;
}

.nav {
    float: left;

}

.nav a, .dropbtn {
    display: block;
    color: white;
    text-align: center;
    padding: 6px 16px;
    text-decoration: none;
}
#cc{
    width: 30px;
    margin-top: -30px;
}
#annoy {
	
	
}

.nav a:hover, .dropdown:hover .dropbtn { 
    background-color: #9b8a7d;
}
li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #dbc0a7;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #a69385}

.dropdown:hover .dropdown-content {
    display: block;
}

.foot2{
 position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   height:110px;
   background-color: #222222;
   color: white;
   text-align: center;
   padding-top:1px;
   float:top;
   
}

#ait{
	width:90px;
	height:50px;
}

#card, #co,#cv,#exp{
	padding:.5em;
	border:1px solid #BBB;
	border-radius:4px;
	box-shadow: 0px 0px 3px #ccc, 0 10px 20px #eee inset;
	padding-right:3em;
	transition: padding-right 1s;
	
}
#card, #co{
	width:28.5em;
}
#cv, #exp{
	display: inline-block;
}
