
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 14px/1 'Open Sans', sans-serif;
  color: #555;
  background: #e5e5e5;
}

.gallery {
  width: 640px;
  margin: 0 auto;
  padding: 5px;
  background: #fff;
  box-shadow: 0 1px 2px rgba(0,0,0,.3);
}

.gallery > div {
  position: relative;
  float: left;
  padding: 5px;
}

.gallery > div > img {
  display: block;
  width: 200px;
  transition: .1s transform;
  transform: translateZ(0); /* hack */
}

.gallery > div:hover {
  z-index: 1;
}

.gallery > div:hover > img {
  transform: scale(1.7,1.7);
  transition: .3s transform;
}

.cf:before, .cf:after {
  display: table;
  content: "";
  line-height: 0;
}

.cf:after {
  clear: both;
}

h1 {
  margin: 40px 0;
  font-size: 30px;
  font-weight: 300;
  text-align: center;
}


#myChart{
width: 40%;
  position: right;
  color:white;
border-radius: 20px;
background-color: #e5e3e326;
}

#myChart2{
width: 40%;
  position: left;
  color:white;
border-radius: 20px;
background-color: #e5e3e326;
}

#myChart3{
width: 40%;
  position: left;
  color:white;
border-radius: 20px;
background-color: #e5e3e326;
}

.container2 {
  position:relative;
  width: 40%;
  margin: 15px;
  float:right;
  
}

.container3 {
	
  position:relative;
  width: 40%;
  margin: 15px;
  float:left;
}
.nav {
    float: left;

}

.nav a, .dropbtn {
    display: block;
    color: white;
    text-align: center;
    padding: 6px 16px;
    text-decoration: none;
}

.nav a:hover, .dropdown:hover .dropbtn { 
    background-color: #eeeeee61;
}
li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #dbc0a7;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #a69385}

.dropdown:hover .dropdown-content {
    display: block;
}

.foot{
 position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   height:30px;
   background-color: #333;
   color: white;
   text-align: center;
   padding-top:1px;
   float:top;
}

footer p {
    margin-top: -7px;
   
}

.foot2{
 position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   height:100px;
   background-color: #222222;
   color: white;
   text-align: center;
   padding-top:1px;
   float:top;
   
}
.fo {
	text-align:left;
	text-indent:90px;
}
.foo {
	border-radius:50%;
	height:30px;
	width:30px;	
}

#ait{
	width:90px;
	height:50px;
}





























